
.square {
    width: 64px;
    height: 64px;
    text-align: center;
    /*line-height: 64px;*/
}

.square.white {
    background-color: white;
    color: black;
}

.square.black {
    background-color: black;
    color: white;
}

.square.selected {
    color: red;
}

.square.threatened {
    background-color: red;
    color: white;
}

td:hover {
  cursor: default;
}
